.App {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}

form button {
  margin-top: 1rem;
  padding: 0.5rem;
  background: #322332;
  color: #fff;
  border-radius: 0.2rem;
}

form input,
form textarea,
form select {
  padding: 0.4rem;
}

article {
  border: 1px solid cyan;
  padding: 0 1rem 1rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.reactionButton {
  background: transparent;
  border: none;
  margin-right: 0.5rem;
}